<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Cofman booking
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-tachometer"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="#">
              <i class="fa fa-user"></i> Booking
            </a>
            <center><div id="datepicker"></div></center>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
